.chat-Main
  .group-info
    .group-box
      .group-member 
        = @group.name
      .member-name 
        Member:
        - @group.users.each do |user|
          = user.name
    .edit-btn
      = link_to edit_group_path(@group), class: 'edit' do
        Edit
  .messagefield
    = render @messages

  .message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Text__Form
        = f.text_field :content, class: 'Text__Form__Input', placeholder: 'type a message'
        = f.label :image, class: 'Text__Form__Input__Image' do
          = icon('fas', 'image', class: 'Text__Form__Icon')
          = f.file_field :image, class: 'Text__Form__Input__Image--Colorless'
      = f.submit 'Send', class: 'text-submit'